/* HTML Tags */
body {
    color: #222831;
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 3rem;
    line-height: 6rem;
}

h2 {
    font-size: 2.25rem;
    line-height: 2.7rem;
}

h4 {
    font-size: 2rem;
    line-height: 2.2rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.65rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: #222831;
    text-decoration: none;
}

img {
    max-width: 100% !important;
    max-height: auto !important;
}

i {
    color: #00ADB5;
}

a i:hover {
    color: #009da5;
}

/* Buttons */
.btn {
    background-color: #00ADB5;
    border: 0;
    color: #EEEEEE;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.40625rem;
}

.btn:hover {
    background-color: #009da5;
    color: #EEEEEE;
}

.btn:focus {
    background-color: #00ADB5;
    box-shadow: none;
}

.btn i {
    color: #EEEEEE;
}

/* Nav */
nav {
    background-color: #222831;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-brand span {
    font-size: 1.20rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu li a, .dropdown-menu li span {
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.725rem;
}

.dropdown-menu li a:hover {
    background-color: #00ADB5;
    color: #EEEEEE;
}

/* Login and Register Section */
.auth-form {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.auth-form input {
    font-size: 1.1rem;    
    letter-spacing: 1px;
}

.auth-form .card-header {
    font-size: 1.3rem;
    font-weight: 600;
}

.auth-form .card h5 {
    padding: 1.5rem;
}

.auth-form .card-body {
    padding: 3rem;
}

/* Error Handling */
.error-handling {
    display: block;    
    letter-spacing: 1px;
    margin-top: 1rem;
}

/* Home and Blog Section */
.post-info {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 23.1px;
}

p.post-body {
    display: -webkit-box;
    --max-lines: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

.post-hover:hover {
    opacity: 0.9;
}

/* Home Section Widget */
.widget {
    margin-bottom: 2rem;
}

.widget-title {
    border-bottom: 2px solid #00ADB5;
    display: inline-block;
    padding-bottom: 10px;
}

.twitter-tweet {
    margin-top: 0 !important;
    margin: auto;
}

.input-subscribe {
    font-size: 0.9rem;
}

.widget-bg {
    border-radius: 9px;
    background-color: #e7e7e7;
}

/* Make Post and Contact Section */

#make-post-section input, #contact-section input, #view-post-section input  {
    border: 0;
}

#make-post-section input:focus , #contact-section input:focus, #view-post-section input:focus {
    box-shadow: 0 2px 0 #00ADB5 !important;
}

#contact-section textarea, #view-post-section textarea {
    resize: none;
    border: 0;
}
#contact-section textarea:focus, #view-post-section textarea:focus {
    box-shadow: 0 2px 0 #00ADB5 !important;
}

#cke_body {
    border: 0;
}

/* Comments */
.comment img {
    border-color: #00ADB5 !important;
    border-radius: 100%;
    width: 40px;
}

.sub-text {
    font-size: 0.875rem;
    font-weight: 500;
}

.comment-text {
    font-size: 0.875rem;
}