{% extends "base.html" %}
{% block content %}
    <!-- Section About -->
    <section id="about-section">
        <!-- Row -->
        <div class="row col-md-8 m-auto">
            <!-- Card -->
            <div class="card bg-transparent border-0 mb-5">
                <!-- Card Image -->
                <img class="card-img-top rounded-0" src="{{ url_for('static', filename='img/author.jpg') }}" alt="post-image">
                <!-- Card Body -->
                <div class="card-body px-0">
                    <!-- Card Title -->
                    <h2 class="card-title mb-3">Hi, I'm Cris-aian Specialized In Blog Writing And Coding</h2>
                    <p class="text-dark-emphasis">I wanted to learn how to code because I love the idea that technology can solve social problems. I also wanted to have the skills to be able to create any app or website imaginable! I came to this career path in a non-traditional way, as I studied the humanities in college. I completed a PhD in history and actually thought I was going to be a history professor! My dissertation explored the impacts of US militarism on women in the Philippines. If you're interested, feel free to check out my article on the topic.
                    </p>
                    <p class="text-dark-emphasis">
                    While I really enjoyed academic research, I also felt like something was missing for me. Much of the work I was doing felt abstract, and it would take many years to see results (historians often spend decades working on a project before it gets published). This is what eventually led me to pursue UX design at first, which then propelled me into the world of web development.
                    </p>
                    <p class="text-dark-emphasis">
                    I don't see myself as starting over in my career, but rather building on my previous work with a more technical skill set. In my academic projects, I wanted to make a positive impact through research. I hope to do the same through creating apps and websites that focus on addressing user needs and solving problems.
                    </p>
                </div>
                <!-- End of Card Body -->
            </div>
            <!-- End of Card -->
        </div>
        <!-- End of Row -->
    </section>
    <!-- End of About Section -->
{% endblock %}