{% extends "base.html" %}

{% block title %} iSulat | Login {% endblock %}

{% block content %}
<div class="container pt-5 mt-5">
    <section id="login-section" class="auth-form">
        <div class="card col-lg-5 m-auto rounded-0 border-0 shadow auth-form">
            <h5 class="card-header">Sign In</h5>
            <div class="card-body">
                <form method="POST" action="{{ url_for('login') }}" novalidate>
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control rounded-0") }}
                        {% for err in form.email.errors %}
                        <span class="text-danger error-handling">{{ err }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control rounded-0") }}
                        {% for err in form.password.errors %}
                        <span class="text-danger error-handling">{{ err }}</span>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-success px-4 py-2 rounded-0">Sign In<i class="fa-solid fa-arrow-right ms-2"></i></button>
                </form>
            </div>
        </div>   
    </section>
</div>
{% endblock %}