{% extends "base.html" %}
{% block content %}
    <!-- Section View Post -->
    <section id="view-post-section">
        <!-- Row -->
        <div class="row justify-content-evenly">
            <!-- Column -->
            <div class="col-lg-8">
                <!-- Card -->
                <div class="card bg-transparent post-item border-0 mb-5">
                    <!-- Card Image -->
                    <img class="card-img-top rounded-0" src="{{ post.img_url }}" alt="post-image">
                    <!-- End of Card Image -->
                    <!-- Card Body -->
                    <div class="card-body px-0">
                        <!-- Card Title -->
                        <h2 class="card-title">
                            <span class="pe-5" style="font-size: 3rem;">{{ post.title }}</span>
                        </h2>
                        <!-- End of Card Title -->
                        <ul class="post-meta mt-3">
                            <li class="d-inline-block me-3">
                                <i class="fa-solid fa-calendar-days"></i>
                                <span class="ms-1 post-date" href="#">{{ post.date }}</span>
                            </li>
                            <li class="d-inline-block">
                                <i class="fa-solid fa-user"></i>
                                <span class="ms-1 post-author" href="#">{{ post.author.name }}</span>
                            </li>
                        </ul>
                        <p class="card-text my-4 text-dark-emphasis">{{ post.body | safe }}</p>
                        {% if current_user.id == 1 %}
                            <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn px-4 py-2 rounded-0">Edit Post<i class="fa-solid fa-arrow-right ms-2"></i></a>
                        {% endif %}
                        <!-- Form -->
                        <form class="mt-5 pt-4" method="POST" action="{{ url_for('view_post', post_id=post.id) }}" novalidate>
                            {{ form.csrf_token }}
                            {{ form.comment(class="form-control bg-transparent rounded-0 border-bottom shadow-none border-dark-subtle pb-15 px-1") }}                     
                            {% for err in form.comment.errors %}
                            <span class="text-danger error-handling">{{ err }}</span>
                            {% endfor %}
                            <button type="submit" class="btn px-4 py-2 rounded-0 my-3">Comment<i class="fa-solid fa-arrow-right ms-2"></i></button>
                        </form>
                        <!-- End of Form -->
                        <!-- All Comments -->
                        <div class="comment">
                            {% for comment in post.comments %}
                                <ul class="commentList mt-3 d-flex">
                                    <li class="">
                                        <img class="me-2 border border-2" src="{{ comment.comment_author.email | gravatar }}"/>
                                    </li>
                                    <li class="ms-2">
                                        <span class="sub-text">{{ comment.comment_author.name}}</span>
                                        <p class="comment-text">{{ comment.text | safe}}</p>
                                    </li>
                                    <li class="ms-auto">
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical pt-3"></i></a>
                                            <ul class="dropdown-menu comment-functions py-0">
                                                {% if current_user == 1 or current_user.id == comment.comment_author.id %}
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="{{ url_for('delete_comment', comment_id = comment.id, post_id = post.id) }}">Delete</a></li>
                                                {% else %}
                                                <li><a class="dropdown-item" href="">Report</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                        <!-- End of All Comments -->
                    </div>
                    <!-- End of Card Body -->
                </div>
                <!-- End of Card -->
            </div>
            <!-- End of Column -->
        </div>
        <!-- End of Row -->
    </section>
    <!-- End of Section View Post -->
{% endblock %}